@page
@model F1ClubWeb.Pages.CircuitsModel
@{
}
<div class="container mt-5">
    <div class="row">
        @foreach (var circuit in Model.Circuits)
        {
            <div class="col-md-4 mb-4">
                <div class="card d-flex flex-column h-100">
                    <img src="@* @circuit.ImageUrl *@" class="card-img-top" style="height: 300px; object-fit: cover;" alt="Circuit Image">
                    <div class="card-body flex-fill d-flex flex-column">
                        <h2 class="text-danger">@circuit.Name</h2>
                        <div class="mt-auto">
                            <a href="/Circuits/Details/@circuit.ID" class="btn btn-danger">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>